
#root {
  overflow: hidden;
}
nav{
  padding-top: 7px;
  padding-right: 7px;
  display: flex;
  justify-content: end;
  gap: 7px;
}
.header-link {
  color: #fff;
  text-decoration: none;
  padding-right: 5px;
  font-style: italic;
}

.header-link:hover {
  opacity: 0.7;
}