
.table__container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

th, td {
  text-align: center; /* Centra el contenido horizontalmente */
}

.table__container-cont {
  background-color: #fff;
}

.table__container-cont{
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;

}

.champions {
  border-left: 5px solid #41DDFF;
}

.europaleague{
  border-left: 5px solid #F7D920;
}

.conference{
  border-left: 5px solid #85B357;
}

.relegation{
  border-left: 5px solid #F51B28;
}